<p>What number would you like to ping pong up to? </p>

<form action="/form" method="post">
  <label for="number">Enter your number:</label>
  <input id="number" name="number" type="text">


  <button type="submit" class="btn btn-sm btn-danger">Ping it!</button>
</form>
